a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: $font-base;
  color: $color-text;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  padding: 15px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left: -15px;
  margin-right: -15px;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &__column {
    padding: 15px;

    &--3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    @media (max-width: 767px) {
      flex: 1;
      max-width: 100%;
    }
  }
}

.form {
  &__footer {
    display: flex;
    margin-top: 30px;
  }
}

.btn {
  transition: 0.1s;

  &--primary {
    min-width: 120px;
    height: 40px;
    background-color: transparent;
    border: 2px solid $color-primary;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
  }

  &--disabled {
    border-color: #b9b9b9;
    cursor: default;
  }
}
