a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: $font-base;
  color: $color-text;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  padding: 15px;

  @media (max-width: 767px) {
    padding: 0;
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left: -15px;
  margin-right: -15px;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &__column {
    padding-left: 15px;
    padding-right: 15px;

    &--12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &--6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &--3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    @media (max-width: 767px) {
      flex: 1;
      max-width: 100%;
    }
  }
}

.form {
  &__content {
    padding: 20px;
    font-size: 16px;

    @media (max-width: 767px) {
      margin-top: 99px;
      margin-bottom: 81px;
    }

    &__hero {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #e3e3e3;

    @media (max-width: 767px) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #f5f5f5;
      z-index: 1;
    }
  }
}

.btn {
  min-width: 120px;
  height: 40px;
  background-color: transparent;
  border: 2px solid $color-text;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: 0.1s;

  &--primary {
    border-color: $color-primary;
  }

  &--disabled {
    border-color: #b9b9b9;
    cursor: default;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.vc-container {
  @media (max-width: 767px) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}